@model GestionBibliotheque.Entities.Rentail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>
    Emprunt - @Model.Book.Title
</h4>
<hr />
<div class="row">
    <div class="col-4 jumbotron">
        <ul class="list-group">
            <li class="list-group-item">Emprunter par: @Model.Lector.Firstname @Model.Lector.Lastname</li>
            <li class="list-group-item">Emprunter le: @Model.RentailDate</li>
            <li class="list-group-item">Rendu le: @Model.ReturnDate</li>
        </ul>
    </div>
</div>

<div>
    @if (Model.ReturnDate == null)
    {
        <a onclick="returnBook(@Model.Id)" href="javascript:void(0)" class="btn btn-primary">Return book</a>
    }
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>